body{
    font-family: 'Roboto', sans-serif;
}

.card-title {
    font-weight: 300;
    color: #212529;
}

.card-text, .oferta, h6 {
    color: #707070;
    font-weight: 300;
}

h5 {
    font-weight: 500;
}

input, footer p {
    font-weight: 300 !important;
}



